.swal-modal {
    background-color:#32323e;
    border-radius: 50px
  }

html, body {margin: 0; height: 100%; overflow: hidden}

body{
 background-color: transparent
 
}

.object {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

.imgg {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1.5s infinite  alternate;
  padding-top: 17%
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

#titlebar{
  -webkit-app-region: drag;
  padding-top: 17;

}

#h{
  color:blac;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-size: 80px;
  align-content: center
}

#sidecolumn{
  background-color:#f5f5f5;
  padding-top: 150px;
  padding-bottom: 300px;
}

.btn-hover.color-3 {
  
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 60px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 0px;
  height: 50px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.pad{
  padding-top: 70px
}

#news-image{
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.2));
  border-radius: 10px
}

.longPad{

  padding-top: 10px

}

.apnaColor{
  background-color: #f5f5f5;
}


input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color:  #8E37D7;
  content: '';
  display: inline-block;
  visibility: visible;
}


.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}
